{% if photos %}
<div class="row">
    {% for photo in photos %}
    <div class="{{large|yesno:'col-xs-6 col-md-3,col-xs-12 col-md-6'}}">
        <img class="thumbnail"  src="{{ photo }}" style="max-width: 100%">
    </div>
    {% endfor %}
    <div class="clearfix"></div>
    <div class="col-12 text-center">
        <span>
            {% if photos|length_is:1 %}
            Photo 1 of 1
            {% else %}
            Photo 1 of {{ photos|length }}
            {% endif %}
        </span>
    </div>
</div>
{% else %}
No photos
{% endif %}
