<div class="btn-group" role="group">

    {{listing.review.is_positive}}
    <a href="{{ listing.get_review_url_positive }}"
       class="btn btn-default {{listing.review.is_positive|yesno:'btn-primary,'}}">
        <span class="glyphicon glyphicon-thumbs-up"></span>
    </a>
    <a href="{{ listing.get_review_url_neutral }}"
       class="btn btn-default {{listing.review.is_neutral|yesno:'btn-primary,'}}">
        <span class="glyphicon glyphicon-minus"></span>
    </a>
    <a href="{{ listing.get_review_url_negative }}"
       class="btn btn-default {{listing.review.is_negative|yesno:'btn-primary,'}}">
        <span class="glyphicon glyphicon-thumbs-down"></span>
    </a>
</div>
