<html>
<head>
    <title>All locality</title>
</head>
<body>
<ul>
    {% for locality in localities.all %}
    <li>
        <b>L{{locality.pk}}L</b> {{locality.name}}
        <ul>
            {% for district in locality.districts.all %}
            <li>
                <b>D{{district.pk}}D</b> {{district.name}}
                <ul>
                    {% for suburb in district.suburbs.all %}
                    <li><b>S{{suburb.pk}}S</b> {{suburb.name}}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
</body>
</html>
